#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* box sizing verdiğimiz için taşabilir overflow hidden verirsen bu taşmalar gözükmez */
    overflow: hidden;
    height: 80px;
}

#biyografi .items{
    flex-direction: column;
}

#biyografi .items .item{
    width: 100%;
}

.courses .course{
    flex-direction: column;
}